* {
    margin: 0;
    padding: 0;
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

body{
    text-align: center;
    padding: 20%;
}

.fortnite{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}